/*
// (c) Konrad Rosenbaum, 2007-2021
// (c) Peter Keller, 2007/8
// protected under the GNU AGPL version 3 or at your option any newer
// see COPYING.AGPL
*/

.ms_Form		{border: none;}
.ms_FormRow		{clear:both; padding-top: 5px; padding-bottom: 5px; }
.ms_FormRow label	{font-weight:bold; width:150px; float:left;}

.ms_Table 		{border-collapse: collapse; border: 1px solid black; padding: 8px;}
.ms_Table th		{padding: 7px; border: 1px solid black; text-align: center; font-weight: bold; }
.ms_Table td		{padding: 7px; border: 1px solid black;}
.ms_Table input		{text-align: left;}

.ms_TableNB 		{border-collapse: collapse; border: none; padding: 8px;}
.ms_TableNB th		{padding: 4px; border: none; text-align: center; font-weight: bold; }
.ms_TableNB td		{padding: 4px; border: none;}
.ms_TableNB input		{text-align: left;}

.ms_AlignRight		{text-align: right;}
.ms_Bold		{font-weight: bold;}

.ms_ButtonArea		{margin-top: 10px}

.ms_ErrorArea		{color: red; margin-top: 10px;}

div.titlediv {
 display: none;
 position: relative;
 top: 100%;
 left: 0;
 z-index: 5;
 /* width: 100%; */
 background-color: #ccc;
 border:1px solid #888;
 float: none;
}
