{# Example Template for MagicSmoke
   ================================
   this one is called to create an error message if the cart expired or the user does not have cookies
#}

{% extends 'layout.html' %}

{% block title %}No Cart Available{% endblock %}

{% block page %}

  <h1>I'm Sorry</h1>
  
  Your cart expired or your browser does not have cookies enabled.<p/>
  
  Please make sure cookies are enabled and then try again.<p/>
  
  <a href="{{script.root}}">Back to Index</a><p/>

{% endblock %}
