{# Example Template for MagicSmoke
   ================================
   this one is called to show the cart of a customer
#}
{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block page %}
 {# this just shows what is possible, we do not actually need to tell the user how secury it is...#}
 <p style="font-size:40%;">This is cart {{cart.cartid}}. It will expire {{cart.timeout|asDateTime}}.</p>

 {# the isempty flag tells us whether we need to bother with the rest... #}
 {% if cart.isempty %}
  This cart is empty.
 {% else %}
  {# build a table with all the items of this shopping cart:
  this is the headline: #}
  <table frame="1" border="1">
  <tr><td><b>Item</b></td><td><b>Item Price</b></td><td><b>Amount</b></td><td><b>Sum</b></td></tr>
  
  {# go through tickets and render them #}
  {% for ticket in cart.tickets %}
    {% set pricesum=ticket.price * ticket.amount %}
    <tr>
    <td>Ticket: {{ticket.event.title}} ({{ticket.eventprice.pricecategory.name}}) {{ticket.event.start|asDateTime}}</td>
    <td align="right">{{ticket.price|asMoney}}</td>
    <td align="right">{{ticket.amount}}</td>
    <td align="right">{{pricesum|asMoney}}</td>
    <td>
     <a href="{{script.removeItem}}&{{ticket.eventprice.categoryidweb}}">remove</a>
    </td>
    </tr>
  {% endfor %}
  
  {# now go through vouchers #}
  {% for voucher in cart.vouchers %}
  <tr>
  <td>Voucher</td>
  <td align="right">{{voucher.value|asMoney}}</td>
  <td align="right">1</td>
  <td align="right">{{voucher.value|asMoney}}</td>
  <td><a href="{{script.removeItem}}&{{voucher.incartidweb}}">remove</a></td>
  </tr>
  {% endfor %}
  
  {# TODO: go through product items #}
  
  {# render the shipping option #}
  {% if cart.shipping|isObject %}
    <tr><td>Shipping: {{cart.shipping.description}}</td>
    <td align="right">{{cart.shipping.cost|asMoney}}</td>
    <td align="right">1</td>
    <td align="right">{{cart.shipping.cost|asMoney}}</td></tr>
  {% else %}
    <tr><td colspan="3">No Shipping</td><td align="right">{{0|asMoney}}</td></tr>
  {% endif %}
  
  {# the overall sum of the above items... #}
  <tr><td colspan="3" align="right"><b>Sum:</b></td><td><b>{{cart.totalsum|asMoney}}</b></td></tr>
  
  {# end of the table #}
  </table>

  {% if invalidcoupon is defined %}
  <p>The coupon could not be added to your cart.
  {% endif %}
  {% if cart.couponid is null %}
  <p><form action="{{script.addcoupon}}" method="get"><input type="hidden" name="mode" value="addcoupon"></input>
  Coupon: <input type="text" name="{{inputnames.coupon}}"></input><input type="submit" value="Add Coupon"></input>
  {% else %}
  <p>Coupon: {{cart.couponid}}
  {% endif %}
  
  {# actions the user may want to take #}
  <p><a href="{{script.orderLogin}}">Checkout</a></p>
  
  {# end of the non-empty cart... #}
 {% endif %}

 {# in any case: allow the user to shop some more... #}
 <p><a href="{{script.root}}">Continue Shopping</a></p>

{% endblock page %}
