{# Example Template for MagicSmoke
   ================================
   this one is called to select an address
#}
{% extends 'layout.html' %}

{% block title %}Address Selection{% endblock %}

{% block page %}
<a href="{{script.checkout}}">Cancel Address Selection</a>

<h2>Select Existing Address</h2>

<form action="{{script.this}}" method="POST">
{% for addr in customer.addresses %}
 {{addr.name}}<br/>
 {{addr.addr1}}<br/>
 {{addr.addr2}}<br/>
 {{addr.zipcode}} {{addr.city}}, {{addr.state}}<br/>
 {{addr.country.name}}<br/>
 <button type="submit" name="{{inputnames.address.setaddress}}" value="{{addr.addressid}}">Select</button><p>
{% endfor %}
</form>

<h2>Create New Address</h2>

<form action="{{script.this}}" method="POST">
 <table>
 <tr><td>Name:</td><td><input type="text" name="{{inputnames.address.name}}" value="{{customer.title}} {{customer.name}}, {{customer.firstname}}" size="60"/></td></tr>
 <tr><td>Address Line 1:</td><td><input type="text" name="{{inputnames.address.addr1}}" size="60"/></td></tr>
 <tr><td>Address Line 2:</td><td><input type="text" name="{{inputnames.address.addr2}}" size="60"/></td></tr>
 <tr><td>City:</td><td><input type="text" name="{{inputnames.address.city}}" size="60"/></td></tr>
 <tr><td>State:</td><td><input type="text" name="{{inputnames.address.state}}" size="60"/></td></tr>
 <tr><td>Country:</td><td><select name="{{inputnames.address.country}}">
  {% for ctry in countries %}
   <option value="{{ctry.id}}">{{ctry.name}}</option>
  {% endfor %}
 </select></td></tr>
 </table>
 <input type="submit" name="{{inputnames.address.createaddress}}" value="Create and Select"/>
</form>

{% endblock page %}
