{# Example Template for MagicSmoke
   ================================
   this one is called to show the cart of a customer
#}
{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block page %}
 {# this just shows what is possible, we do not actually need to tell the user how secury it is...#}
 <p style="font-size:40%;">This is cart {{cart.cartid}}. It will expire {{cart.timeout|asDateTime}}.</p>

 <h2>Customer</h2>
 
 {{cart.customer.title}} {{cart.customer.name}}, {{cart.customer.firstname}}
 
 <h3>Invoice Address</h3>
 
 {% if cart.invoiceaddress|isObject %}
 {{cart.invoiceaddress.name}}<br/>
 {{cart.invoiceaddress.addr1}}<br/>
 {{cart.invoiceaddress.addr2}}<br/>
 {{cart.invoiceaddress.zipcode}} {{cart.invoiceaddress.city}}, {{cart.invoiceaddress.state}}<br/>
 {{cart.invoiceaddress.country.name}}
 {% else %}
 No invoice address.
 {% endif %}
 
 <a href="{{script.changeInvoiceAddress}}">Change Address</a>
 
 <h3>Delivery Address</h3>
 
 {% if cart.deliveryaddress|isObject %}
 {{cart.deliveryaddress.name}}<br/>
 {{cart.deliveryaddress.addr1}}<br/>
 {{cart.deliveryaddress.addr2}}<br/>
 {{cart.deliveryaddress.zipcode}} {{cart.deliveryaddress.city}}, {{cart.deliveryaddress.state}}<br/>
 {{cart.deliveryaddress.country.name}}
 {% else %}
 Same as invoice address.
 {% endif %}

 <a href="{{script.changeDeliveryAddress}}">Change Address</a>
 
 <h2>Cart Items</h2>
 {# build a table with all the items of this shopping cart:
 this is the headline: #}
 <table frame="1" border="1">
 <tr><td><b>Item</b></td><td><b>Item Price</b></td><td><b>Amount</b></td><td><b>Sum</b></td></tr>
 
 {# go through tickets and render them #}
 {% for ticket in cart.tickets %}
   {% set pricesum=ticket.price * ticket.amount %}
   <tr>
   <td>Ticket: {{ticket.event.title}} ({{ticket.eventprice.pricecategory.name}}) {{ticket.event.start|asDateTime}}</td>
   <td align="right">{{ticket.price|asMoney}}</td>
   <td align="right">{{ticket.amount}}</td>
   <td align="right">{{pricesum|asMoney}}</td>
   </tr>
 {% endfor %}
 
 {# now go through vouchers #}
 {% for voucher in cart.vouchers %}
 <tr>
 <td>Voucher</td>
 <td align="right">{{voucher.value|asMoney}}</td>
 <td align="right">1</td>
 <td align="right">{{voucher.value|asMoney}}</td>
 </tr>
 {% endfor %}
 
 {# TODO: go through product items #}
 
 {# render the shipping option #}
 {% if cart.shipping|isObject %}
   <tr><td>Shipping: {{cart.shipping.description}}</td>
   <td align="right">{{cart.shipping.cost|asMoney}}</td>
   <td align="right">1</td>
   <td align="right">{{cart.shipping.cost|asMoney}}</td></tr>
 {% else %}
   <tr><td colspan="3">No Shipping</td><td align="right">{{0|asMoney}}</td></tr>
 {% endif %}

 {# the overall sum of the above items... #}
 <tr><td colspan="3" align="right"><b>Sum:</b></td><td><b>{{cart.totalsum|asMoney}}</b></td></tr>
 
 {# end of the table #}
 </table>
 
 {# actions the user may want to take #}
 <p><a href="{{script.placeOrder}}">Place Order</a></p>
 
 {# in any case: allow the user to shop some more... #}
 <p><a href="{{script.root}}">Continue Shopping</a></p>

{% endblock page %}
