<html>
<title>Error</title>
<body>
<h1>Error</h1>

{{ErrorText}}<p/>

{# have the following only in development mode!
It prints a full stack trace, which you probably do not want in production. #}
<pre>
{{ErrorTrace}}
</pre>

<hr/>
<a href="{{script.root}}">Back to Index</a>
</html>