{# Example Template for MagicSmoke
   ================================
   this one is called to create the event detail/order page
#}
{% extends 'layout.html' %}

{% block title %}{{event.title}}{% endblock %}

{% block page %}
  {# show basic information about the event #}
  {{event.start|asDateTime}}, {{event.room|e}}<br/>
  Artist: {{event.artist.name|e}}<br/>
  {{event.description}}<br/>
  
  {# start the form that allows users to order for an event, the |raw filter tells the Twig parser that the URL should not be mangled #}
  <form action="{{script.eventOrder|raw}}" method="POST">
   <table>
   {# listing pricing options... #}
   <tr><td>Price:</td><td>Amount:</td></tr>
   {% for price in event.price %}
     {# the objects handed over from MagicSmoke are not filtered, so it is important to check whether it makes sense to offer a specific price category #}
     {% if price.canuse %}
       {# if usable: show the details of the price category #}
       <tr><td>{{price.price|asMoney}} ({{price.pricecategory.name}})</td>
       {# the amountinputfield property of the price contains the name for the form element to be used for each options amount - please use this property instead of hard coded values! #}
       <td><select name="{{price.amountinputfield}}">
         {# the following example shows how to make the selection of tickets more fool-proof by using a select and a few inline calculations #}
         {% set ticketsavailable=price.maxavailable - price.amountticketsblock %}
         {% for i in 0 .. ticketsavailable %}
           <option>{{i}}</option>
         {% endfor %}
       </select></td></tr>
     {% endif %}
   {% endfor %}
   </table><br/>
   
   {# end of the form... just add a button... #}
   <input type="submit" value="add to cart" />
  </form>

{% endblock page %}
