{# Example Template for MagicSmoke
   ================================
   this one is called to create the main index
#}

{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block page %}

<ul>
<li><a href="{{script.root|raw}}">Main Page</a></li>
<li><a href="{{script.tickets|raw}}">Ticket Shop</a></li>
<li><a href="{{script.vouchers|raw}}">Voucher Shop</a></li>
<li><a href="{{script.shop|raw}}">Merchandising</a></li>
<li><a href="{{script.mycart|raw}}">My Shopping Cart</a></li>
</ul>

{% endblock page %}
