<html>

<head>
<title>{% block title %}{% endblock %} - Magic Smoke Example Layout</title>
<link rel="stylesheet" type="text/css" href="styles/style.css"/>
</head>

<body>
<!-- Begin Menu -->
<p align="right">
<a href="{{script.root|raw}}">Main Page</a> |
<a href="{{script.tickets|raw}}">Ticket Shop</a> |
<a href="{{script.vouchers|raw}}">Voucher Shop</a> |
<a href="{{script.shop|raw}}">Merchandising</a> |
<a href="{{script.mycart|raw}}">My Shopping Cart</a>
{% if lang.languages|length > 1 %}
| Language:
{% for lng in lang.languages %}
 <a href="{{script.setlanguage|raw}}{{lng|raw}}"><img src="images/{{lng|raw}}.png" alt="{{lng}}"/></a>
{% endfor %}
{% endif %}
<br/>
<div style="font-size:50%">Session: {{sessionid}}; Welcome to MagicSmoke {{user.title}} {{user.name}} ({{user.email}})</div>
</p>
<!-- End Menu -->

<h1>{{ block('title') }} - Magic Smoke Example Layout</h1>

<!-- Begin Form -->
{% block page %}{% endblock %}
<!-- End Form -->
<hr/>

<!--
Note to admins of MagicSmoke based Web-Sites:
==============================================

Some lines like the ones below must be visible in any web-page that is
rendered by MagicSmoke or your modifications of it. MagicSmoke's web
interface is under the AGPL, which demands that you give users the ability
to download the sources. If you modify MagicSmoke you must give the users
the possibility to download your version of MagicSmoke or your modifications
as well as the version you started from.

You also must tell users about the AGPL.

See COPYING.AGPL for details.

Your templates and your data (the stuff in the database) are not affected by
the license.
-->
<!-- BEGIN: preserve these lines! -->
<p style="font-size: 60%; color: #666;">
powered by<br/><a href="http://smoke.silmor.de" target="_blank">
<img src="images/logo.png" alt="MagicSmoke"/></a><br/>
&copy; the MagicSmoke team, 2007-2012;
The MagicSmoke web interface is protected under the <a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html" target="_blank">AGPL v.3</a>.<br/>
You can get the sources of MagicSmoke via GIT: 
see the <a href="http://smoke.silmor.de" target="_blank">MagicSmoke</a> Homepage for details
</p>
<!-- END of lines that must be preserved -->

<!--
Note to Admins
===============

You can also add your own copyright for your own template design and data.
-->
<!-- BEGIN: replace this with your own copyright for your templates and data -->
<p style="font-size: 60%; color: #666;">
These example templates and all example data are in the public domain.
<!-- Replace this with something like this:
The Example Theater homepage design and all data displayed is &copy; Example Theater Corp., 2012
-->
</p>
<!-- END of own copyright -->


</body>
</html>
