{# Example Template for MagicSmoke
   ================================
   this one is called to show the login page for a customer
#}
{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block page %}
<input type="radio" name="loginselect" value="use" onClick="toggledisplay()" id="loginselect" checked="1"/>I already have an account:<p/>

{# the login dialog #}
<div id="usediv">
  <form action="{{script.customerLogin}}" method="POST">
    <table>
    <tr><td>E-mail address:</td><td><input type="text" name="{{inputnames.login.name}}" value="{{customer_name}}" /></td></tr>
    <tr><td>Password:</td><td><input type="password" name="{{inputnames.login.passwd}}"/></td></tr>
    </table><p/>
    <input type="submit" value="Login"/>
  </form><p/>
</div>

<input type="radio" name="loginselect" value="create" onClick="toggledisplay()"/>I do not have have an account yet: <p/>

{# the create account dialog #}
<div id="creatediv">
  <form action="{{script.customerRegistration}}" method="POST">
    Please enter a valid email address and a secure password for your account. All order information will be sent to this email address. You will need the password to order tickets and to see your order status - anyone who knows this password can order in your name. If you forget your password you can reset it at any time.<br/>
    <table>
    <tr><td>E-mail address:</td><td><input type="text" name="{{inputnames.login.name}}" value="{{customer_name}}" /></td></tr>
    <tr><td>Select a Password:</td><td><input type="password" name="{{inputnames.login.passwd}}"/></td></tr>
    <tr><td>Repeat Password:</td><td><input type="password" name="{{inputnames.login.passwdrepeat}}"/></td></tr>
    </table><p/>
    Please enter an address to which your order will be sent:<br/>
    <table>
    <tr><td>Title:</td><td>
     <input type="text" name="{{inputnames.login.title}}" id="titleinput" width="6" />
     <img src="images/arrowdown.png" onclick="showTitles()"/>
     <div id="titlediv" style="display: none;position:absolute; background-color:#eee; width:150px; z-index: 900;">
      <a href="javascript:void selectTitle('Mr.')">Mr.</a><br/>
      <a href="javascript:void selectTitle('Mrs.')">Mrs.</a><br/>
      <a href="javascript:void selectTitle('Herr')">Herr</a><br/>
      <a href="javascript:void selectTitle('Frau')">Frau</a>
     </div>
    </td></tr>
    <tr><td>Last Name:</td><td><input type="text" name="{{inputnames.login.lastname}}"/></td></tr>
    <tr><td>First Name:</td><td><input type="text" name="{{inputnames.login.firstname}}"/></td></tr>
    <tr><td>Address:</td><td><input type="text" name="{{inputnames.address.addr1}}"/><br/>
			     <input type="text" name="{{inputnames.address.addr2}}"/></td></tr>
    <tr><td>City:</td><td><input type="text" name="{{inputnames.address.city}}"/></td></tr>
    <tr><td>ZIP code:</td><td><input type="text" name="{{inputnames.address.zip}}"/></td></tr>
    <tr><td>State:</td><td><input type="text" name="{{inputnames.address.state}}"/></td></tr>
    <tr><td>Country:</td><td><select name="{{inputnames.address.country}}">
	  {% for ctry in countries %}
	   <option value="{{ctry.id}}">{{ctry.name}}</option>
	  {% endfor %}
	 </select></td></tr>
    </table><p/>
    <input type="submit" value="Create Account"/>
  </form>
</div>

<input type="radio" name="loginselect" value="forgot" onClick="toggledisplay()" id="forgotselect"/>I forgot my password:<p/>

{# the login dialog #}
<div id="forgotdiv">
  <form action="{{script.customerReset}}" method="POST">
    Please enter your login (email address) and click the reset button. You will receive an email with instructions how to reset your password.<br/>
    <table>
    <tr><td>E-mail address:</td><td><input type="text" name="{{inputnames.login.name}}" value="{{customer_name}}" /></td></tr>
    </table><p/>
    <input type="submit" value="Reset Password"/>
  </form><p/>
</div>

<p/><hr/>
{# in any case: allow the user to shop some more... #}
<p><a href="{{script.root}}">Abort and Continue Shopping</a></p>

{# helper JavaScript: makes one or the other dialog visible #}
<script type="text/javascript">
<!-- // Hide script from old browsers
//makes the two main divs visible or invisible, used by toggledisplay
function showDiv(use,creat,forgot)
{
  document.getElementById("usediv").style.display = use;
  document.getElementById("creatediv").style.display = creat;
  document.getElementById("forgotdiv").style.display = forgot;
}
//called when one of the outer radio buttons is clicked:
//finds out which div should be visible
function toggledisplay()
{
  var sel=document.getElementById("loginselect");
  var fgt=document.getElementById("forgotselect");
  if(sel.checked)
	  showDiv("block","none","none");
  else if(fgt.checked)
	  showDiv("none","none","block");
  else
	  showDiv("none","block","none");
}
//initial view
toggledisplay();

function showTitles()
{
  document.getElementById("titlediv").style.display="block";
}
function selectTitle(title)
{
  document.getElementById("titlediv").style.display="none";
  document.getElementById("titleinput").value=title;
}
//end of hiding -->
</script>

{% endblock page %}
