{# Example Template for MagicSmoke
   ================================
   this one is called to show the reset password page for a customer
#}
{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block page %}
<b>Hello {{customer.firstname}} {{customer.name}},</b><br/>

{% if passwdchanged %}
you have successfully changed your password.<p>

<a href="{{script.root}}">Continue shopping</a>
{% else %}
please enter a new password for yourself below:<p>
<form action="{{script.customerResetLogin}}" method="POST">
  <input type="hidden" name="passcode" value="{{passcode}}" />
  <input type="hidden" name="customer" value="{{customer_name}}" />
  <table>
  <tr><td>E-mail address:</td><td>{{customer_name}}</td></tr>
  <tr><td>New Password:</td><td><input type="password" name="{{inputnames.login.passwd}}"/></td></tr>
  <tr><td>Repeat Password:</td><td><input type="password" name="{{inputnames.login.passwdrepeat}}"/></td></tr>
  </table><p/>
  <input type="submit" value="Reset Password"/>
</form><p/>
{% endif %}

{% endblock page %}
