{# Example Template for MagicSmoke
   ================================
   this one is called to create the event list
#}

{% extends 'layout.html' %}

{% block title %}Overview{% endblock %}

{% block page %}

  {# we use this to show monthly date lines #}
  {% set olddate = '00' %}
  
  {# go through all events that MagicSmoke gave us #}
  {% for event in events %}
    {# check whether it actually makes sense to show this event, we do not show any events that the user cannot get tickets for (however, we do show those which are sold out) #}
    {% if event.canuse %}
      {# show the monthly date line #}
      {% set newdate = event.start|date('Y.m') %}
      {% if newdate != olddate %}
        <table width="80%"><td><td width="10%"><hr/></td>
        <td width="125px">{{ event.start|date('F - Y') }}</td>
        <td width="*"><hr/></td></tr></table>
      {% endif %}
      {% set olddate = newdate %}
      
      {# show basic data about the event #}
      <h2>{{event.title}}</h2>
      {{event.start|asDateTime}}, {{event.room}}<br/>
      Artist: {{event.artist.name}}<br/>
      {# uncomment to show the full description
      {{event.description}}<br/>
      #}
      
      {# show pricing options #}
      Price: 
      {% for price in event.price %}
       {% if price.canuse %}
        {% if loop.index > 1 %},{% endif %}
        {{price.price|asMoney}} ({{price.pricecategory.name}})
       {% endif %}
      {% endfor %}<br/>
      
      {# is it sold out? #}
      {% if event.amountFree == 0 %}
        <font color="#ff0000">Event sold out.</font><br/>
      {% else %}
        {# only very few tickets left? #}
        {% if event.amountFree <= 5 %}
          <font color="#ff0000">Event almost sold out.</font><br/>
        {% endif %}
        <a href="{{script.eventDetails}}{{event.ID}}">details/order tickets</a>
      {% endif %}
      
    {# end of event... #}
    {% endif %}
  {% endfor %}

{% endblock page %}
