{# Example Template for MagicSmoke
   ================================
   this one is called to create the voucher order page
#}
{% extends 'layout.html' %}

{% block title %}Order Vouchers{% endblock %}

{% block page %}
<form action="{{script.voucherOrder}}" method="POST">
 Please select a voucher price:
 <select name="{{inputnames.voucher}}">
  {% for i in voucherprices %}
   <option value="{{i}}">{{i|asMoney}}</option>
  {% endfor %}
 </select>
 {# end of the form... just add a button... #}
 <input type="submit" value="add to cart" />
</form>
<p>

{# in any case: allow the user to shop some more... #}
<p><a href="{{script.root}}">Continue Shopping</a></p>

{% endblock page %}
