<h1>{{event.title | html}}</h1>

Artist: {{event.artist.name|html}}<p>
Starttime: {{event.start|asDateTime}}<br>
Endtime: {{event.end|asDateTime}}<p>

Room: {{event.room|html}}<br>
Seats: {{event.capacity}} max.; ({{event.amountSold}} sold out; {{event.amountReserved}} reserved; {{event.amountFree}} free)<p>

{% if event.flags|checkflags %}

{% if int(event.amountFree)>0 %}
<a href="order:{{event.id}}">order tickets</a><p>
{% endif %}

<h2>Prices</h2>

<table frame="1" border="1">

<thead><tr><th>Category</th><th>Price</th><th>Available</th><th>Max. Seats</th><th>Order</th></tr></thead>
{% for price in  event.priceFiltered %}
<tr><td>{{price.pricecategory.name}}</td>
 <td>{{price.price|asMoney}}
 {% set avail=int(price.maxavailable)-int(price.amountticketsblock) %}
 {% if avail > int(event.amountFree) %}
  {% set avail=int(event.amountFree) %}
 {% endif %}
 </td>
 <td>{{avail}}</td><td>{{price.maxavailable}}</td>
 <td>{% if checkflags(price.flags) && avail>0 %}
	<a href="order:?ev={{event.id}}&amp;pr={{price.pricecategoryid}}">order</a>
     {% else %}
	unavailable
     {% endif %}</td></tr>

{% endfor %}
</table><p>

{% endif %}


<h2>Description</h2>

{{event.description}}

<h2>Comment</h2>

{% if event.comment|startsWith("<html>") %}
{{event.comment}}
{% else %}
{{event.comment|html}}
{% endif %}
