<html>
<title>Error</title>
<body>
<h1>Fehler</h1>

Ein Fehler ist aufgetreten:

{{ErrorText}}<p/>

{# have the following only in development mode!
It prints a full stack trace, which you probably do not want in production. 
<pre>
{{ErrorTrace}}
</pre>#}

<hr/>
<a href="{{script.root}}">Zur&uuml;ck zum Shop</a><p/>

<a href="{{script.basedir}}/..">Zur Homepage</a>
</html>