{% extends 'layout.html' %}
{% block title %}Loginfehler{% endblock %}

{% block page %}
{% if(errorType=="login") %}
  Der Login existiert nicht, ist keine e-Mail-Adresse oder das Passwort ist falsch (Gro&szlig;- &amp; Kleinschreibung beachten).
{% elseif(errorType=="exist") %}
  Der Login existiert bereits, bitte w&auml;hlen Sie eine andere Mailadresse (Gro&szlig;- &amp; Kleinschreibung beachten).
{% elseif(errorType=="mismatch") %}
  Das Passwort stimmt nicht &uuml;berein oder ist leer. Bitte gehen Sie zur&uuml;ck und versuchen Sie es noch einmal.
{% elseif(errorType=="invalid") %}
  Die E-Mail-Adresse ist nicht g&uuml;ltig. Bitte gehen Sie zur&uuml;ck und geben Sie eine g&uuml;ltige Adresse ein.
{% else %}
Unbekannte Fehlerart: {{errorType}}
{% endif %}
<p/>
Falls Sie Ihr Passwort vergessen haben, bitte senden Sie uns über unser Kontaktfomular (<a href="../kontakt/formular-a.php">info@DasZauberschloss.de</a>) eine E-Mail.
<p/>

<a href="{{backUrl|raw}}">Nochmal versuchen</a><p>

<hr/>
<a href="{{script.root}}">Zur&uuml;ck zum Shop</a>

{% endblock page %}
